---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Dr. Zhang has published over 30 articles in top-tier international journals, with more than 1200 citations on Google Scholar and an h-index of 20. You can also find his articles on <a href="{{site.author.googlescholar}}">the Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Numbered and Justified Text</title>
<style>
    .numbered-text {
        text-align: justify;
    }
</style>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5G15FCB55K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5G15FCB55K');
</script>
<body>
    <br>
    <b>Under review</b>
    <div class="numbered-text">
        <ol>
            <li><b>Zhang, N.</b>, Xu, K.P., Yin, Z-Y., Li, K.Q. (2024) Sampling and transfer learning strategies of finite element-integrated neural network for computational solid mechanics. Computer Methods in Applied Mechanics and Engineering, Under review.</li>
            <li> Xu, H.R., Yin, J.N., <b>Zhang, N.</b>* (2024) Transformer-based deformation measurement of underground structure from a single-camera video. Computers and Geotechnics, Submitted.</li>
            <li> Xu, H.R., <b>Zhang, N.</b>*, Yin, Z-Y., Atangana Njock, P.G. (2024) Multimodal intelligent geotechnical design framework integrating multiple large language models. Geotechnique, Under review.</li>
            <li> Liu, H.C., <b>Zhang, N.</b>*, Yin, Z-Y. (2024) Probabilistic stratigraphic modeling from sparse boreholes based on deep learning. Geotechnique, Under review.</li>
            <li> Liu, H.C., <b>Zhang, N.</b>*, Yin, Z-Y., Wang, Y. (2024) Interpretation of subsurface stratigraphic variations from limited boreholes using Dual Bi-LSTM. Canadian Geotechnical Journal, Under review.</li>
            <li> Qiu, Y., Yin, J.N., <b>Zhang, N.</b>*, Liu, H.C., Xu, C. (2024) Novel graph convolutional network for geological profile prediction using non-equidistant borehole data. Georisk, under review.</li>
        </ol>
    </div>
</body>

<body>
    <b>First-authored and Corresponding-authored papers</b>
    <div class="numbered-text">
        <ol>
          <li> <b>Zhang, N.</b>, Xu, K.P., Yin, Z-Y., Jin, Y. F., Li, K.Q. (2024) Finite element-integrated neural network framework for elastic and elastoplastic solids. Computer Methods in Applied Mechanics and Engineering, Accepted.</li>
          <li> Xu, H.R., <b>Zhang, N.</b>*, Yin, Z-Y., Atangana Njock, P.G. (2024) GeoLLM: A Specialized Large Language Model Framework for Intelligent Geotechnical Design. Computers and Geotechnics, Accepted.</li>
          <li> Zhang, H., Yin, Z.Y., <b>Zhang, N.</b>*, Wang, X. (2024) A rapid segmentation and occlusion completion method for packed granular particles considering uncertainty. Canadian Geotechnical Journal, Accepted.</li>
          <li> Zhang, H., Yin, Z.Y., <b>Zhang, N.</b>*, Wang, X. Ding, Z., (2024). A scale-adaptive Mask R-CNN strategy for foreground particle segmentation and geometrical analysis of granular aggregates. Applied Soft Computing, p.111931. https://doi.org/10.1016/j.asoc.2024.111931</li>
          <li> Qiu, Y., <b>Zhang, N.</b>*, Yin, Z., Wang, Y., Xu, C. and Zhang, P., (2024). Novel multi-spatial receptive field (MSRF) XGBoost method for predicting geological cross-section based on sparse borehole data. Engineering Geology, p.107604. https://doi.org/10.1016/j.enggeo.2024.107604</li>
          <li> Kong, H. Q., <b>Zhang, N.</b>* (2024). Risk assessment of water inrush accident during tunnel construction based on FAHP-I-TOPSIS. Journal of Cleaner Production, 141744. https://doi.org/10.1016/j.jclepro.2024.141744</li>
          <li> <b>Zhang, N.</b>, Zhou, A., Jin, Y. F., Yin, Z-Y., Shen, S. L. (2023). An enhanced deep learning method for accurate and robust modelling of soil stress-strain response, Acta Geotechnica, 1-23. https://doi.org/10.1007/s11440-023-01813-8</li>
          <li> Shen, S. L., <b>Zhang, N.</b>*, Zhou, A., Yin, Z-Y. (2022). Enhancement of neural networks with an alternative activation function tanhLU. Expert Systems with Applications, 199, 117181. https://doi.org/10.1016/j.eswa.2022.117181</li>
          <li> Zhang, N., <b>Zhang, N.</b>*, Zheng, Q., Xu, Y. S. (2022). Real-time prediction of shield moving trajectory during tunnelling using GRU deep neural network. Acta Geotechnica, 17(4), 1167-1182. https://doi.org/10.1007/s11440-021-01319-1</li>
          <li> Lin, S. S., <b>Zhang, N.</b>*, Zhou, A., Shen, S. L. (2022). Time-series prediction of shield movement performance during tunneling based on hybrid model. Tunnelling and Underground Space Technology, 119, 104245. https://doi.org/10.1016/j.tust.2021.104245</li>
          <li> <b>Zhang, N.</b>, Zhou, A., Pan Y., Shen, S. L., (2021). Measurement and prediction of tunnelling-induced ground settlement in karst region by using expanding deep learning method. Measurement 183, 109700. doi: 10.1016/j.measurement.2021.109700. https://doi.org/10.1016/j.measurement.2021.109700</li>
          <li> <b>Zhang, N.</b>, Shen, S. L., Zhou, A., Jin, Y. F. (2021). Application of LSTM approach for modelling stress–strain behaviour of soil. Applied Soft Computing, 100, 106959. https://doi.org/10.1016/j.asoc.2020.106959</li>
          <li> Lu, S. L., <b>Zhang, N.</b>*, Shen, S. L., Zhou, A., Li, H. Z. (2020). A deep-learning method for evaluating shaft resistance of the cast-in-site pile on reclaimed ground using field data. Journal of Zhejiang University-Science A, 21(6), 496-508. https://doi.org/10.1631/jzus.A1900544</li>
          <li> <b>Zhang, N.</b>, Shen, J. S., Lin, C., Arulrajah, A., Chai, J. C. (2019). Investigation of a large ground collapse and countermeasures during mountain tunnelling in Hangzhou: a case study. Bulletin of Engineering Geology and the Environment, 78(2), 991-1003. https://doi.org/10.1007/s10064-017-1098-0</li>
          <li> <b>Zhang, N.</b>, Shen, J. S., Zhou, A., Arulrajah, A. (2018). Tunneling induced geohazards in mylonitic rock faults with rich groundwater: A case study in Guangzhou. Tunnelling and Underground Space Technology, 74, 262-272. https://doi.org/10.1016/j.tust.2017.12.021</li>
          <li> <b>Zhang, N.</b>, Wu, H. N., Shen, J. S. L., Hino, T., Yin, Z-Y. (2017). Evaluation of the uplift behavior of plate anchor in structured marine clay. Marine Georesources Geotechnology, 35(6), 758-768. https://doi.org/10.1080/1064119X.2016.1240273</li>
          <li> <b>Zhang, N.</b>, Shen, S. L., Wu, H. N., Chai, J. C., Xu, Y. S., Yin, Z-Y. (2015). Evaluation of effect of basal geotextile reinforcement under embankment loading on soft marine deposits. Geotextiles and Geomembranes, 43(6), 506-514. https://doi.org/10.1016/j.geotexmem.2015.05.005</li>
        </ol>
    </div>
</body>

<body>
    <b>Co-authored papers</b>
    <div class="numbered-text">
        <ol>
          <li> Atangana Njock, P. G., Yin, Z-Y., <b>Zhang, N.</b> (2024). High-fidelity data augmentation for few-shot learning in jet grout injection applications. International Journal for Numerical and Analytical Methods in Geomechanics, 1-18.  https://doi.org/10.1002/nag.3862</li>
          <li> Li, K. Q., Yin, Z-Y., <b>Zhang, N.</b>, &Li, J. (2024). A PINN-based modelling approach for hydromechanical behaviour of unsaturated expansive soils. Computers and Geotechnics, 169, 106174. https://doi.org/10.1016/j.compgeo.2024.106174</li>
          <li> Li, K. Q., Yin, Z-Y., <b>Zhang, N.</b>, Liu, Y. (2023). A data-driven method to model stress-strain behaviour of frozen soil considering uncertainty. Cold Regions Science and Technology, 103906. https://doi.org/10.1016/j.coldregions.2023.103906</li>
          <li> Zhang, J. X., <b>Zhang, N.</b>, Zhou, A., Shen, S. L. (2022). Numerical evaluation of segmental tunnel lining with voids in outside backfill. Underground Space , 7(5), 786-797. https://doi.org/10.1016/j.undsp.2021.12.007</li>
          <li> Lin, S. S., Shen, S. L., <b>Zhang, N.</b>, Zhou, A. (2022). An extended TODIM-based model for evaluating risks of excavation system. Acta Geotechnica, 17(4), 1053-1069. https://doi.org/10.1007/s11440-021-01294-7</li>
          <li> Lin, S. S., <b>Zhang, N.</b>, Zhou, A., Shen, S. L. (2022). Risk evaluation of excavation based on fuzzy decision-making model. Automation in Construction, 136, 104143. https://doi.org/10.1016/j.autcon.2022.104143</li>
          <li> Lin, S. S., Shen, S. L., Zhou, A., <b>Zhang, N.</b> (2021). Ensemble model for risk status evaluation of excavation. Automation in Construction, 132, 103943. https://doi.org/10.1016/j.autcon.2021.103943</li>
          <li> [Lin, S. S., Shen, S. L., <b>Zhang, N.</b>, Zhou, A. (2021). Modelling the performance of EPB shield tunnelling using machine and deep learning algorithms. Geoscience Frontiers, 12(5), 101177. https://doi.org/10.1016/j.gsf.2021.101177</li>
          <li> Lin, S. S., Shen, S. L., <b>Zhang, N.</b>, Zhou, A. (2021). Comprehensive environmental impact evaluation for concrete mixing station (CMS) based on improved TOPSIS method. Sustainable Cities and Society, 69, 102838. https://doi.org/10.1016/j.scs.2021.102838</li>
          <li> Ren, D. J., Shen, S. L., Cheng, W. C., <b>Zhang, N.</b>, Wang, Z. F. (2016). Geological formation and geo-hazards during subway construction in Guangzhou. Environmental Earth Sciences, 75(11), 1-14. https://doi.org/10.1007/s12665-016-5710-6</li>
          <li> Xu, Y. S., Wu, H. N., Shen, J. S., <b>Zhang, N.</b> (2017). Risk and impacts on the environment of free-phase biogas in Quaternary deposits along the coastal region of Shanghai. Ocean Engineering, 137, 129-137. https://doi.org/10.1016/j.oceaneng.2017.03.051</li>
        </ol>
    </div>
</body>

</html>






